.easy-translation-text {
  font-family: Barlow;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: #424a21;
}
.easy-translation-text-two {
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #555555;
}
