@tailwind utilities;

.easy-translation-text {
  font-family: Barlow;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: #424a21;
}
.easy-translation-text-two {
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #555555;
}

@layer utilities {
  @keyframes section-title-image {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .section-title-image {
    animation: section-title-image 2s ease-in-out infinite;
  }
}
.section-title-image {
}
