.EasyTranslation {
  background-image: url("../../../public/Images/easy/Ã__Ã£_3_x5F__Ã–Ã†_4.png"),
    url("../../../public/Images/easy/Ã__Ã£_3_x5F__Ã–Ã.png");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  width: 100%;
}
.easy-card {
  width: 100%;
  border-radius: 8px;
  border: 4px 0px 0px 0px;
  background-color: #ffffe9;
}

.easy-card-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
}
.easy-card-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
}
