@tailwind utilities;

.hero {
  background-image: url(../../../public/Images/hero/New-folder/hero.png);
  background-position: center top; /* Adjust as needed */
  background-size: cover; /* Ensure the image covers the element */
  width: 100%;
  padding: 220px 0px 0px 0px;
  position: relative;
}

.hero-title {
  /* Text styles */
  font-weight: 900;
  text-align: center; /* Center text if needed */
  text-transform: uppercase;
  font-family: Barlow;

  /* Background gradient text */
  background: linear-gradient(to bottom, #a9ac25, #455507);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}

.hero-title-two {
  text-align: center;
  font-weight: 400;
  text-align: center;
  color: #424a21;
  margin-top: -2px;
  font-family: Barlow;
}
.hero-paragraph {
  text-align: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 23px;
  color: #555555;
}
.hero-paragraph-two {
  text-align: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 2px;
  color: #555555;
}
/* button-parent */
.book-button {
  width: 180px;
  height: 62px;
  padding: 14px 20px;
  gap: 6px;
  background-color: #687535;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Barlow;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  transition: background-color 0.5s, color 0.5s;
}

.book-button:hover {
  background-color: #ffffe9;
  color: #687535;
}
.quick-button {
  width: 180px;
  height: 62px;
  padding: 14px 20px;
  gap: 6px;
  background-color: #ffffe9;
  color: #687535;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Barlow;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  transition: background-color 0.5s, color 0.5s;
}

.quick-button:hover {
  background-color: #687535;
  color: #ffffe9;
}

/* body-images */

.body-images {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 954px;
  margin-top: 30px;
}

.body-images img {
  width: 100%;
  height: auto;
  box-shadow: none;
}

/* Responsive Styles for Small Devices */
/* @media (max-width: 599px) {
  .hero {
    height: 700px; 
    padding: 100px 0px 0px 0px; 
  }
}

@media (max-width: 399px) {
  .hero {
    height: 1000px; 
    padding: 100px 0px 0px 0px; 
  }
} */

.left-image {
  position: absolute;
  left: 22%;
  top: 14%;
}
.left-image-two {
  position: absolute;
  left: 15%;
  top: 41%;
}
.right-image {
  position: absolute;
  right: 17%;
  top: 23%;
}
.right-image-two {
  position: absolute;
  right: 30%;
  top: 20%;
}

@layer utilities {
  @keyframes left-One {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-move {
    animation: left-One 3s ease-in-out infinite;
  }
}

@layer utilities {
  @keyframes left-Two {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-move-two {
    animation: left-Two 3s ease-in-out infinite;
  }
}

@layer utilities {
  @keyframes left-Three {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-move-three {
    animation: left-Three 2s ease-in-out infinite;
  }
}

@layer utilities {
  @keyframes left-Four {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-move-four {
    animation: left-Four 4s ease-in-out infinite;
  }
}

.image-over-One {
  position: absolute;
  left: 19%;
  top: 72%;
  z-index: 100;
}
.image-over-Two {
  position: absolute;
  right: 18%;
  top: 75%;
  z-index: 100;
}

@layer utilities {
  @keyframes fade {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .image-over-One {
    animation: fade 3s ease-in-out infinite;
  }
}

@layer utilities {
  @keyframes fades-opposite {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .image-over-Two {
    animation: fades-opposite 3s ease-in-out infinite;
  }
}
