@tailwind utilities;

.language-backGround {
  background-image: url(../../../public/Images/language/Mapwrap.png);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
}

/* Images Animation */
@layer utilities {
  @keyframes imgOne {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgOne {
    animation: imgOne 3s ease-in-out infinite;
  }
}

@layer utilities {
  @keyframes imgTwo {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgTwo {
    animation: imgTwo 3s ease-in-out infinite;
  }
}
@layer utilities {
  @keyframes imgThree {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgThree {
    animation: imgThree 3s ease-in-out infinite;
  }
}
@layer utilities {
  @keyframes imgFour {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgFour {
    animation: imgFour 3s ease-in-out infinite;
  }
}
@layer utilities {
  @keyframes imgFive {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgFive {
    animation: imgFive 3s ease-in-out infinite;
  }
}
