@tailwind utilities;

.language-backGround {
  background-image: url(../../../public/Images/language/Mapwrap.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}

/* Images Animation */
@layer utilities {
  @keyframes imgOne {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes imgTwo {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes imgThree {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes imgFour {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes imgFive {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imgOne {
    animation: imgOne 3s ease-in-out infinite;
  }

  .imgTwo {
    animation: imgTwo 3s ease-in-out infinite;
  }

  .imgThree {
    animation: imgThree 3s ease-in-out infinite;
  }

  .imgFour {
    animation: imgFour 3s ease-in-out infinite;
  }

  .imgFive {
    animation: imgFive 3s ease-in-out infinite;
  }

  @media (max-width: 640px) { /* Tailwind's 'sm' breakpoint */
    .imgOne,
    .imgTwo,
    .imgThree,
    .imgFour,
    .imgFive {
      animation: none;
    }
  }
}
.language-bg-small-image{
  display: none;
}
@media (max-width: 640px) { /* Tailwind's 'sm' breakpoint */
  .language-bg-large-image{
    display: none;
  }
  .language-bg-small-image{
    display: block;
  }
}
