.testimonial-background-image{
    background-image: url(../../../public/Images/testimonial/graphic.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}