.footer-background-image {
  background-image: url(../../../public/Images/footer/prime_language.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 100%;
}
.footer-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #555555;
  cursor: pointer;
}
.footer-text:hover {
  color: #777777;
}
